$white: #ffff;
$black: #171717;
$grey: #6b7280;
$grey_100: #e5e5e5;
$grey_200: #536283;
$error: #f11e3a;
$brown: #cda274;
$light_Grey: #f4f0ec;
$blue_500: #337ccf;
$grey_50: #f2f7ff;
$grey_10: #969dad;
