@import "../../../../styles/color.scss";

.cartItem {
  margin-top: 15px;
  display: flex;
  border: 1px solid$grey_100;
  border-radius: 8px;
  padding: 10px;
  justify-content: space-between;
  .leftPart {
    display: flex;
    align-items: start;
    .cartImg {
      width: 50px;
      height: 45px;
      margin-right: 8px;
    }
    .cartItemName {
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 600;
      text-overflow: ellipsis;
    }
  }
  .rightPart {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .icons {
    border: 1px solid $grey_100;
    border-radius: 4px;
    padding: 5px;
  }
}
